.first-row, .third-row, .fifth-row, .seven-row {
    background-color: #f2f6fa;
}

.title, .second-row, .fourth-row, .six-row, .eight-row {
    background-color: #e3eaf3;
}

.first-row:hover {
    background-color: #e2e5e9;
}

.second-row:hover {
    background-color: #e2e5e9;
}

.third-row:hover {
    background-color: #e2e5e9;
}

.fourth-row:hover {
    background-color: #e2e5e9;
}

.fifth-row:hover {
    background-color: #e2e5e9;
}

.six-row:hover {
    background-color: #e2e5e9;
}

.seven-row:hover {
    background-color: #e2e5e9;
}

.eight-row:hover {
    background-color: #e2e5e9;
}

.name {
    text-transform: capitalize;
}

.title {
    text-transform: uppercase;
}