.mail,
.name,
.outstanding,
.number {
  margin: 1px;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  padding-top: 25px;
  height: 40px;
}

.customer,
.phone,
.e-mail,
.many {
  margin: 1px;
  text-align: center;
  display: block;
  border: 1px solid black;
  padding-top: 2px;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title"
    "first-row first-row first-row first-row"
    "second-row second-row second-row second-row"
    "third-row third-row third-row third-row"
    "fourth-row fourth-row fourth-row fourth-row"
    "fifth-row fifth-row fifth-row fifth-row"
    "six-row six-row six-row six-row"
    "seven-row seven-row seven-row seven-row"
    "eight-row eight-row eight-row eight-row";

  gap: 1px;
  margin-left: 70px;
  margin-right: 70px;
}

.first-row {
  display: grid;
  grid-area: first-row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.second-row {
  grid-area: second-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.third-row {
  grid-area: third-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fourth-row {
  grid-area: fourth-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fifth-row {
  grid-area: fifth-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.six-row {
  grid-area: six-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.seven-row {
  grid-area: seven-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.eight-row {
  grid-area: eight-row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
  display: grid;
  grid-area: title;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}