@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

div.container {
  font-family: "Roboto", sans-serif;
  background-color: #d7ba80;
}

div.list {
  background-color: #a19170;
}

div.ordered-list {
  background-color: #ebd3a3;
}

div.unordered-list {
  background-color: #ebd9b6;
}

div.description-List {
  background-color: #8b6b2a;
}

.move-right {
  text-indent: 30px;
}

div.nested-list {
  background-color: #a19170;
}

li.subitems {
  list-style-type: circle;
  margin-left: 30px;
}

li.subSubitems {
  list-style-type: square;
  margin-left: 60px;
}

div.list-with-links {
  background-color: #a19170;
}

div.paragraphs {
  background-image: url(Sand-dunes-hot-White-Desert-Egypt_1920x1200.jpg);
}

div.table {
  background-color: #a19170;
}

div.image {
  background-color: #a19170;
}

div.pre-tag {
  background-color: #a19170;
}

hr {
  height: 1px;
  background-color: #000;
}
